body {
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
}
.etch{
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    width: 1600px;
    align-self: center;
    border: 2px solid black;
    flex-grow: 1;
}
.sketch {
    display: flex;
flex-basis: 6.25%;

}